@import '../../config';

.FormField {
  width: 100%;
  padding: 10px 10px;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;

  .Label {
    padding: 5px;
    font-size: 12px;
  }

  .Field {
    padding: 10px 10px;
    border-radius: $border-radius;
    outline: none;
    border: 1px solid $light-grey;
  }

  .valid {
    border: 1px solid $green;
  }

  .invalid {
    border: 1px solid $red;
  }

  .ErrorMsg {
    color: $red;
    font-size: 10px;
  }
}
