// Colors
$white: #ffffff;
$blue: #3b68bb;
$dark-blue: #1c3d7a;
$light-blue: #89a3dd;
$grey: #949090;
$light-grey: #cfcfcf;
$red: #e94d62;
$green: #078d07;
$light-green: #7dd17d;

// Borders
$border-radius: 5px;
